<mat-list class="left-sidebar">
    <div class="title-container">
        <h2 class="title">Parking App</h2>
    </div>
    <mat-nav-list>
        <a
            mat-list-item
            routerLink="/dashboard"
            class="item active"
        >
            <mat-icon
                aria-hidden="false"
                aria-label="home icon">
                home
            </mat-icon>
            Inicio
        </a>
        <a
            mat-list-item
            routerLink="/dashboard/entrada-salida-de-vehiculos"
            class="item"
        >
            <mat-icon
                aria-hidden="false"
                aria-label="home icon">
                local_parking
            </mat-icon>
            E/S de vehículos
        </a>
        <a
            mat-list-item
            routerLink="/dashboard/estancias"
            class="item"
        >
            <mat-icon
                aria-hidden="false"
                aria-label="home icon">
                av_timer
            </mat-icon>
            Reporte de estancias
        </a>
        <a
            mat-list-item
            routerLink="/dashboard/vehiculos"
            class="item"
        >
            <mat-icon
                aria-hidden="false"
                aria-label="home icon">
                directions_car
            </mat-icon>
            Vehículos
        </a>
        <a
            mat-list-item
            routerLink="/dashboard/tipos-de-vehiculos"
            class="item"
        >
            <mat-icon
                aria-hidden="false"
                aria-label="home icon">
                assignment
            </mat-icon>
            Tipo de vehículos
        </a>
    </mat-nav-list>

</mat-list>

