<div class="login">
    <div class="login-form">
        <a routerLink="/" class="home">
            Regresar
        </a>
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
            <mat-form-field class="input-container" appearance="fill">
                <mat-label>Correo electrónico</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')">
                    Por favor ingrese una dirección de correo electrónico valida
                </mat-error>
                <mat-error *ngIf="email?.hasError('required')">
                    Este campo es requerido
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-container" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput formControlName="password" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="password?.hasError('required')">
                    Este campo es requerido
                </mat-error>
            </mat-form-field>
            <mat-checkbox class="input-container" formControlName="rememberMe">
                Recordarme
            </mat-checkbox>
            <button type="submit" mat-flat-button color="primary">
                Acceder
            </button>
            <small
                *ngIf="accessDenied"
                class="text-danger d-block text-left"
            >
                Error al iniciar sesión, corrobore sus datos de acceso.
            </small>
        </form>
    </div>
</div>
